<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <title>Some Page</title>
  
</head>
<body>
    <!-- Partial file used below for the header 'header.hbs', cool thing express lets you do to change multiple things on a website with just editing the main partial file -->
    {{> header}} 
    <h2>{{screamIt welcomeMessage}}</h2>
    {{> footer}}
</body>
</html>
